
.container{
    margin: 0;
  height: 100vh;
  
  display: flex;
  align-items: center;
  justify-content: center;
}
.forget-page {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 400px;
  min-width: 280px;
  gap: 40px;
  max-height: 596px;
  height: 100%;
  align-items: center;
  justify-content: center;
}


.body-forget {
  max-width: 342px;
  display: flex;
  gap: 40px;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
}

.forget {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 36px;
  align-items: center;
}

.forget-title{
  height: 100px;
  gap:8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 342px;
  
}
.forget-title1{
font-family: "Inter";
font-weight: bold;
font-size: 24px;
color: var(--secondary-color);

}

.forget-title2{
font-family: "Inter";
font-weight: 400;
font-size: 20px;
color: #666666;


}


.forget-submit {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.forget-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.link-login{
  display: flex;
  justify-content: center;
}

.link-label{
  text-decoration: none;
  font-family: "Inter";
  font-weight: 600;
  font-size: 16px;
  color: #878787;
}
